version: "3.7"

networks:
  proxy:
    external: true

services:
  frontend:
    image: image-gallery-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - proxy
    environment:
      VIRTUAL_HOST: daphne.dev.noseryoung.ch
      LETSENCRYPT_HOST: daphne.dev.noseryoung.ch
      LETSENCRYPT_EMAIL: deine-email@example.com

  backend:
    image: image-gallery-backend:latest
    container_name: backend
    restart: unless-stopped
    networks:
      - proxy
    environment:
      VIRTUAL_HOST: api.daphne.dev.noseryoung.ch
      LETSENCRYPT_HOST: api.daphne.dev.noseryoung.ch
      LETSENCRYPT_EMAIL: deine-email@example.com
    depends_on:
      - db

  db:
    image: postgres:10-alpine
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
